body {
    background: #fffdfd; /* Fondo oscuro */
    margin: 0;
}

.lamp-post {
    width: 15px;
    height: 100px;
}

.box {
    width: 150px; 
    height: auto; 
    border-radius: 40px; 
    padding: 20px;
}

.light {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-bottom: 20px; 
    opacity: 0.3;    
    cursor: pointer;
    transition: all 0.3s ease;
}

.light:last-child {
    margin-bottom: 0;
}

.red { background-color: #ff0000; }
.yellow { background-color: #ffff00; }
.green { background-color: #00ff00; }

.glow {
    opacity: 1;
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.6); 
    transform: scale(1.05);
}